* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

.ws-clock {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.home-button:hover {
    font-size: 68px;
}

.home-button {
    position: absolute;
    display: block;
    text-decoration: none;
    color: inherit;
    font-family: "Amatic SC", sans-serif !important;
    font-weight: 700px;
    font-size: 65px;
    text-align: left;
}

.games img {
    border-radius: 20px;
    border: 3px solid dimgrey;
    margin: 20px;
}

body {
    display: grid;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

body h1 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700px;
    font-size: 100px;
}
